/* #region STYLES ==================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Regular.otf");
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.container {
  width: 1270px;

  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 94.9%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.btn {
  margin: 0 auto;
}

/* #endregion STYLES ==================================================================== */

/* #region HEADER ==================================================================== */

.header-site {
  position: absolute;
  width: 100%;
  z-index: 100;

  padding: 64px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1440px;

  padding: 0 15px;
  margin: 0 auto;
}

.header-logo {
  width: 65px;
  height: 65px;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 56px;

  margin-right: 84px;
}

.header-menu-link {
  font-size: 18px;
  line-height: 96.9%;

  color: #000000;
}

.menu-btn {
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;

  color: #000000;

  background-color: #7ae5fd;
  border-radius: 88px;
  border: none;

  padding: 20px 28px;
}

/* #endregion HEADER ==================================================================== */

/* #region SECTION HERO ==================================================================== */

.hero-section {
  max-width: 1440px;

  padding: 0 15px;
  padding-bottom: 69px;
  margin: 0 auto;
}

.hero-container {
  position: relative;
  max-width: 1440px;

  background-color: #f1fdff;

  padding-top: 200px;
  padding-bottom: 155px;
}

.hero-title {
  width: 700px;
  font-weight: 800;
  font-size: 93px;
  line-height: 94.9%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #9ad2de;
}

.hero-text {
  width: 484px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  color: #000000;

  margin-top: 64px;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

/* #endregion SECTION HERO ==================================================================== */

/* #region SECTION WIN ==================================================================== */

.win-section {
  padding-top: 143px;
  padding-bottom: 47px;
}

.win-container {
  display: flex;
  flex-direction: column;
}

.win-text {
  font-size: 27px;
  line-height: 96.9%;
  text-align: center;

  max-width: 740px;

  color: #000000;

  margin: 0 auto;
  margin-top: 10px;
}

.win-subtext {
  font-size: 20px;
  line-height: 120%;
  text-align: center;

  max-width: 588px;

  color: #73a6b1;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 72px;
}

.win-item {
  background-color: #f1fdff;
  border-radius: 10px;

  padding: 40px 40px 70px;
}

.win-item:not(:last-child) {
  margin-bottom: 30px;
}

.win-item:last-child {
  margin-bottom: 60px;
}

.win-item-title {
  font-size: 46px;
  line-height: 94.9%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
}

.win-item-text {
  font-size: 20px;
  line-height: 96.9%;

  color: #000000;

  margin-top: 10px;
}

.win-wrap {
  display: flex;
  justify-content: space-between;

  margin-top: 45px;
}

.win-wrap-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.win-wrap-text {
  font-size: 16px;
  line-height: 96.9%;

  color: #000000;
}

.win-wrap-time {
  font-size: 16px;
  line-height: 96.9%;

  color: #3d8c9d;

  margin-top: 10px;
}

.win-wrap-img {
  border-radius: 10px;
}

/* #endregion SECTION WIN ==================================================================== */

/* #region SECTION PRIZE ==================================================================== */

.prize-section {
  display: flex;
  align-items: center;

  background-image: url("../images/prize-bg.png");
  background-repeat: no-repeat;
  background-position: center;

  padding: 270px 18px 191px 28px;
}

.prize-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 240px;

  background-color: #f2feff;
  border-radius: 10px;
  height: 277px;
}

.prize-text {
  font-size: 27.271px;
  line-height: 120%;

  color: #000000;
  margin-left: 40px;
}

.prize-img {
  margin-right: 137px;
}

/* #endregion SECTION PRIZE ==================================================================== */

/* #region SECTION WAY ==================================================================== */

.way-section {
  padding-top: 68px;
  padding-bottom: 146px;
}

.way-container {
  width: 740px;
  margin: 0 auto;
}

.way-text {
  font-size: 20px;
  line-height: 120%;
  text-align: center;

  color: #73a6b1;

  margin-top: 20px;
}

.way-text-meta {
  font-size: 27px;
  line-height: 96.9%;
  text-align: center;

  color: #000000;

  margin-top: 77px;
}

.way-text-count {
  font-size: 60px;
  line-height: 94.9%;
  letter-spacing: -0.02em;
  text-align: center;

  color: #000000;

  margin-top: 25px;
  margin-bottom: 67px;
}

.way-text-span {
  color: #9ad2de;
}

.way-wrap {
  display: flex;
  flex-direction: column;
}

/* #endregion SECTION WAY ==================================================================== */

/* #region FOOTER ==================================================================== */

.footer-site {
  position: relative;
  z-index: 3;
  width: 1470px;
  background-color: #f9fadf;

  /* background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat; */

  padding-top: 57px;
  padding-bottom: 116px;
  margin: 0 auto;
}

.footer-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer-container {
}

.footer-contacts {
  display: flex;
  gap: 258px;

  width: 1038px;

  margin-bottom: 101px;
}

.footer-title {
}

.footer-contacts-wrap {
}

.footer-icon {
  display: inline-block;
  margin-bottom: 9px;
  margin-right: 16px;
}

.footer-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;

  color: #000000;
}

.footer-text {
  font-size: 20px;
  line-height: 120%;

  color: #000000;
}

.footer-text:not(:last-child) {
  margin-bottom: 57px;
}

.footer-form-wrap {
  display: flex;
  gap: 89px;

  background-color: #ffffff;
  border-radius: 10px;

  padding: 45px 68px;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-form-text {
  font-size: 27px;
  line-height: 120%;

  color: #000000;

  margin-bottom: 39px;
}

.footer-form-input {
  height: 66px;

  font-size: 20px;
  line-height: 120%;

  color: #000000;
  background-color: #f9fadf;
  border-radius: 61px;
  border: none;

  padding: 21px 43px;
  margin-bottom: 31px;
}
/* #endregion FOOOTER ==================================================================== */
