@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Regular.otf");
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #region HEADER ==================================================================== */

.site-header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 64px 100px;
}

.logo {
  width: 65px;
  height: 65px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 56px;
}

.menu-btn {
  text-transform: uppercase;

  background-color: #7ae5fd;
  border-radius: 88px;

  padding: 20px 28px;
}

/* #endregion HEADER ==================================================================== */

/* #region SECTION HERO ==================================================================== */

.hero {
  width: 100vw;
  height: 100vh;

  background-color: #f1fdff;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 150px;
}
.hero h1 {
  width: 700px;
  font-weight: 800;
  font-size: 93px;
  line-height: 94.9%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #9ad2de;
}

.hero p {
  width: 484px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  color: #000000;

  margin-top: 64px;
}

/* #endregion SECTION HERO ==================================================================== */
